@use "./utilities";

.logo-container {
  button {
    border: none;
    background-color: transparent;
  }
}

.hamburger {
  display: inline;
}

.hamburger.active {
  display: none;
}

.logo {
  margin-left: 0.5rem;
}
