@use "./utilities";

.logo-container {
  button {
    border: none;
    background-color: transparent;
  }
}

// .hamburger {
//   display: none;
// }

.hamburger.active {
  display: inline;
}

.close {
  display: none;
}

.close.active {
  display: inline;
}

.logo {
  margin-left: 0.5rem;
}
