@use "./utilities";
@use "logo-container";
@use "shopping-cart";

// Mobile screens

.nav-container {
  width: 100%;
  background-color: utilities.$white;
  padding: 1.25rem;
  @include utilities.flex(space-between, center);
  z-index: 10;
  button {
    background-color: transparent;
    border: none;
  }
}

.navbar {
  display: none;
}

.navbar.active {
  @include utilities.flex(normal, flex-start, column);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 65%;
  background-color: utilities.$white;
}

.close {
  display: none;
}

.close.active {
  display: inline;
  margin: 1rem 0;
}

.navlist {
  margin-top: 2rem;
}

.nav-item {
  list-style: none;
  padding: 0.5rem 0;
  font-weight: 700;
}

.navlink {
  text-decoration: none;
  color: utilities.$black;
  cursor: pointer;
}

// Screens >=768px
@media (min-width: 768px) {
  .nav-container {
    border-bottom: solid utilities.$gblue 0.1rem;
    z-index: 1;
  }

  .navbar {
    @include utilities.flex(flex-start, center, row);
    width: 80%;
  }

  .close {
    display: none;
  }

  .navlist {
    margin: 0;
    @include utilities.flex(center, center, row);
    order: 2;
  }

  .nav-item {
    padding: 0 1rem;
  }

  .navlink {
    color: utilities.$dgblue;
    padding-bottom: 2.5rem;
    &:hover {
      color: utilities.$black;
      border-bottom: solid utilities.$orange 0.25rem;
    }
  }
}

// Screens >=1024px
@media (min-width: 1024px) {
  header {
    @include utilities.flex(center, center);
  }

  .nav-container {
    width: 80vw;
    padding: 2rem 6rem;
    font-size: calc(0.5rem + 0.75vw);
  }
}
