@use "./utilities";

// Mobile layout
.product-description-section {
  position: relative;
  padding: 1rem;
  padding-bottom: 3rem;
}

.company-name {
  font-weight: 700;
  color: utilities.$orange;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.product-description-name {
  font-size: 1.75rem;
  padding: 0.5rem 0;
}

.product-description {
  color: utilities.$dgblue;
  line-height: 1.5rem;
}

.product-price-container {
  width: 100%;
  padding: 0.5rem 0;
  margin: 1rem 0;
  @include utilities.flex(space-between, center);
  font-weight: 700;
}

.current-price-container {
  @include utilities.flex(normal, center);
}

.product-current-price {
  font-size: 1.5rem;
}

.discount {
  color: utilities.$orange;
  background-color: utilities.$porange;
  margin: 0 0.5rem;
  padding: 0.15rem 0.3rem;
  font-size: 0.9rem;
}

.product-original-price {
  color: utilities.$gblue;
}

.item-count-container {
  @include utilities.flex(space-between, center);
  background-color: utilities.$lgblue;
  margin: 0.5rem 0;
  padding: 1rem;
  button {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 2rem;
    cursor: pointer;
  }
}

.number-display {
  font-weight: 700;
}

.add-btn {
  @include utilities.flex(center, center);
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: utilities.$orange;
  color: utilities.$white;
  font-weight: 700;
  box-shadow: 0 25px 50px utilities.$porange;
  cursor: pointer;
  svg {
    margin-right: 0.5rem;
  }
}

.cart-white {
  fill: utilities.$white;
}

// Tablet layout
@media (min-width: 768px) {
  .product-description-section {
    position: unset;
    width: 50%;
    height: 80vh;
    @include utilities.flex(center, flex-start, column);
  }

  .product-description-name {
    width: 75%;
  }

  .product-description {
    width: 75%;
  }

  .add-to-cart-container {
    @include utilities.flex(normal, center);
  }

  .item-count-container {
    width: 50%;
    button {
      width: 100%;
      height: 100%;
      @include utilities.flex(center, center);
      padding: 0.5rem;
      &:active {
        opacity: 70%;
      }
    }
  }

  .add-btn {
    margin: 0;
    margin-left: 1rem;
    &:hover {
      opacity: 70%;
    }
  }
}

@media (min-width: 1440px) {
  .company-name {
    font-size: calc(1rem + 0.1vw);
  }

  .product-description-name {
    font-size: calc(1rem + 2vw);
    padding-bottom: 2rem;
  }

  .product-description {
    font-size: calc(1rem + 0.25vw);
    line-height: calc(1.5rem + 0.25vw);
  }

  .product-price-container {
    @include utilities.flex(center, flex-start, column);
    font-size: calc(0.5rem + 0.75vw);
  }

  .current-price-container {
    font-size: calc(1rem + 0.75vw);
  }

  .add-to-cart-container {
    width: 75%;
  }

  .add-btn {
    font-size: calc(0.75rem + 0.25vw);
  }
}
