@use "./utilities";

.cart-container {
  @include utilities.flex(normal, center);
  button {
    border: none;
    background-color: transparent;
  }
}

.nav-cart {
  margin-right: 1rem;
  &:click {
    .cart-black {
      fill: utilities.$black;
    }
  }
}

.shopping-cart-container {
  position: absolute;
  top: 11%;
  left: 0;
  width: 99.9vw;
  @include utilities.flex(center, center);
}

.shopping-cart {
  display: none;
  position: relative;
  padding: 1rem;
  background-color: utilities.$white;
  width: 95%;
  height: 40vh;
  border-radius: 1rem;
  z-index: 11;
}

.shopping-cart.active {
  @include utilities.flex(center, flex-start, column);
}

.shopping-cart.active.items {
  @include utilities.flex(space-between, flex-start, column);
}

.cart-title {
  width: 100%;
  padding-bottom: 1rem;
  font-size: 1rem;
  border-bottom: solid utilities.$gblue 0.1rem;
}

.item-container {
  width: 100%;
  height: 80%;
  @include utilities.flex(center, center, column);
}

.item {
  display: none;
  button {
    border: none;
    background-color: transparent;
  }
}

.item.active {
  @include utilities.flex(space-evenly, normal);
  width: 100%;
}

.cart-thumbnail {
  width: 3rem;
  border-radius: 0.25rem;
}

.item-info-container {
  font-size: 0.85rem;
}

.price-container {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.product-name {
  color: utilities.$gblue;
  font-weight: 700;
}

.product-price {
  color: utilities.$gblue;
}

.cart-total {
  font-weight: 700;
}

.no-items {
  display: none;
}

.no-items.active {
  display: inline;
  text-align: center;
  color: utilities.$dgblue;
  font-weight: 700;
  font-size: 0.75rem;
}

.checkout {
  display: none;
}

.checkout.active {
  display: inline;
  background-color: utilities.$orange;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  height: 3rem;
  color: utilities.$white;
  font-weight: 700;
}

.avatar {
  width: 1.5rem;
}
