.logo-container button {
  border: none;
  background-color: transparent;
}

.hamburger {
  display: inline;
}

.hamburger.active {
  display: none;
}

.logo {
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
  }
}
.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}
.cart-container button {
  border: none;
  background-color: transparent;
}

.nav-cart {
  margin-right: 1rem;
  cursor: pointer;
}

.cart-button-container {
  position: relative;
}

.notification.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30%;
  right: 20%;
  border-radius: 40%;
  width: 1.2rem;
  height: 1rem;
  background-color: #ff7d1a;
  color: white;
  font-size: 0.7rem;
}

.shopping-cart-container {
  position: absolute;
  top: 11%;
  left: 0;
  width: 99.9vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shopping-cart {
  display: none;
  position: relative;
  padding: 1rem;
  background-color: white;
  width: 95%;
  height: 40vh;
  border-radius: 1rem;
  z-index: 11;
}

.shopping-cart.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.shopping-cart.active.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-title {
  width: 100%;
  padding-bottom: 1rem;
  font-size: 1rem;
  border-bottom: solid #b6bcc8 0.1rem;
}

.item-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: none;
}
.item button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.item.active {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  width: 100%;
}

.cart-thumbnail {
  width: 3rem;
  border-radius: 0.25rem;
}

.item-info-container {
  font-size: 0.85rem;
}

.price-container {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.product-name {
  color: #b6bcc8;
  font-weight: 700;
}

.product-price {
  color: #b6bcc8;
}

.cart-total {
  font-weight: 700;
}

.no-items {
  display: none;
}

.no-items.active {
  display: inline;
  text-align: center;
  color: #68707d;
  font-weight: 700;
  font-size: 0.75rem;
}

.checkout {
  display: none;
}

.checkout.active {
  display: inline;
  background-color: #ff7d1a;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  height: 3rem;
  color: white;
  font-weight: 700;
}

.avatar {
  width: 1.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .cart-container {
    order: 3;
  }

  .nav-cart {
    margin-right: 2rem;
  }

  .notification.active {
    top: -35%;
    right: 45%;
  }

  .shopping-cart-container {
    left: 60%;
    width: 40vw;
    border-radius: 5%;
    box-shadow: 0.5rem 0.5rem 1rem #b6bcc8;
  }

  .shopping-cart {
    height: 35vh;
  }

  .cart-black:hover {
    fill: black;
    cursor: pointer;
  }
  .cart-black:active {
    fill: black;
  }

  .item-info-container {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .price-container {
    justify-content: flex-start;
  }

  .cart-total {
    margin-left: 0.5rem;
  }

  .no-items.active {
    font-size: 1rem;
  }

  .avatar {
    width: 3rem;
  }
  .avatar:hover {
    border: solid #ff7d1a;
    border-radius: 100%;
  }
}
@media (min-width: 1024px) {
  .shopping-cart-container {
    left: 67%;
    width: 30vw;
  }

  .cart-thumbnail {
    width: 3.5rem;
  }
}
@media (min-width: 1820px) {
  .nav-cart {
    transform: scale(1.5);
  }
}
.nav-container {
  width: 100%;
  background-color: white;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.nav-container button {
  background-color: transparent;
  border: none;
}

.navbar {
  display: none;
}

.navbar.active {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 65%;
  background-color: white;
}

.close {
  display: none;
}

.close.active {
  display: inline;
  margin: 1rem 0;
}

.navlist {
  margin-top: 2rem;
}

.nav-item {
  list-style: none;
  padding: 0.5rem 0;
  font-weight: 700;
}

.navlink {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav-container {
    border-bottom: solid #b6bcc8 0.1rem;
    z-index: 1;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
  }

  .close {
    display: none;
  }

  .navlist {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .nav-item {
    padding: 0 1rem;
  }

  .navlink {
    color: #68707d;
    padding-bottom: 2.5rem;
  }
  .navlink:hover {
    color: black;
    border-bottom: solid #ff7d1a 0.25rem;
  }
}
@media (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-container {
    width: 80vw;
    padding: 2rem 6rem;
    font-size: calc(1rem + 0.1vw);
  }

  .navlist {
    margin-left: calc(1rem + 0.5vw);
  }
}
.product-images {
  position: relative;
  height: 50vh;
}

.product-main {
  position: absolute;
  height: 100%;
  width: 100%;
}
.product-main button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 50%;
  border: none;
  background-color: white;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
}

.left {
  left: 5%;
}

.right {
  right: 5%;
}

.product-thumbnail {
  display: none;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .product-section-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
  }

  .product-images {
    position: unset;
    height: unset;
    width: 50%;
    padding: 4.5rem 0;
    display: grid;
    grid-row-gap: 1rem;
    justify-items: center;
  }
  .product-images img {
    border-radius: 1rem;
  }

  .product-main {
    position: unset;
    height: unset;
    width: 80%;
  }
  .product-main button {
    display: none;
  }

  .main-img {
    height: unset;
  }

  .product-thumbnail {
    display: inline;
    position: relative;
  }
  .product-thumbnail:hover:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .product-thumbnail img {
    cursor: pointer;
  }
  .product-thumbnail img:hover {
    opacity: 60%;
  }

  .product-thumbnail.active:after {
    border: solid #ff7d1a;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20%;
    content: "";
  }

  .thumbnail-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    width: 80%;
    height: 100%;
  }

  .thumbnail-img {
    width: 100%;
    object-fit: cover;
  }
}
@media (min-width: 1024px) {
  .product-section-container {
    width: 80%;
    margin: auto;
  }
}
.lightbox {
  display: none;
}

@media (min-width: 1024px) {
  .lightbox.active {
    display: grid;
    justify-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
  }

  .lightbox-container {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .lightbox-container button {
    position: absolute;
    border: none;
    cursor: pointer;
  }
  .lightbox-container button svg path:hover {
    fill: #ff7d1a;
  }

  .lightbox-close-btn {
    background-color: transparent;
    top: -10%;
    right: 5%;
  }
  .lightbox-close-btn svg {
    transform: scale(1.5);
  }
  .lightbox-close-btn svg path {
    fill: white;
  }

  .lightbox-prev-btn {
    left: -2.5%;
  }

  .lightbox-next-btn {
    right: -2.5%;
  }

  .lightbox-prev-btn,
.lightbox-next-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 40%;
    background-color: white;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
  }
  .lightbox-prev-btn svg:hover,
.lightbox-next-btn svg:hover {
    fill: #ff7d1a;
  }

  .lightbox-image-container {
    position: relative;
    width: 60%;
  }
  .lightbox-image-container img {
    border-radius: 5%;
  }

  .lightbox-main-img {
    object-fit: contain;
    width: 100%;
  }

  .lightbox-thumbnail-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .lightbox-thumbnail {
    width: 80%;
    cursor: pointer;
  }
  .lightbox-thumbnail:hover {
    border: solid #ff7d1a;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  }
}
@media (min-width: 1240px) {
  .lightbox-container > button {
    position: absolute;
    top: 5%;
  }
}
@media (min-width: 1440px) {
  button {
    transform: scale(1.25);
  }
}
@media (min-width: 1760px) {
  .lightbox-image-container {
    position: relative;
    width: 70%;
  }

  button {
    transform: scale(1.5);
  }
}
.product-description-section {
  position: relative;
  padding: 1rem;
  padding-bottom: 3rem;
}

.company-name {
  font-weight: 700;
  color: #ff7d1a;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.product-description-name {
  font-size: 1.75rem;
  padding: 0.5rem 0;
}

.product-description {
  color: #68707d;
  line-height: 1.5rem;
}

.product-price-container {
  width: 100%;
  padding: 0.5rem 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.current-price-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}

.product-current-price {
  font-size: 1.5rem;
}

.discount {
  color: #ff7d1a;
  background-color: #ffede0;
  margin: 0 0.5rem;
  padding: 0.15rem 0.3rem;
  font-size: 0.9rem;
}

.product-original-price {
  color: #b6bcc8;
}

.item-count-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f8fd;
  margin: 0.5rem 0;
  padding: 0.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
}
.item-count-container button {
  border: none;
  background-color: transparent;
  height: 100%;
  width: 2rem;
  cursor: pointer;
}

.number-display {
  font-weight: 700;
}

.add-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ff7d1a;
  color: white;
  font-weight: 700;
  box-shadow: 0 25px 50px #ffede0;
  cursor: pointer;
}
.add-btn svg {
  margin-right: 0.5rem;
}

.cart-white {
  fill: white;
}

@media (min-width: 768px) {
  .product-description-section {
    position: unset;
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .product-description-name {
    width: 75%;
  }

  .product-description {
    width: 75%;
  }

  .add-to-cart-container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
  }

  .item-count-container {
    width: 40%;
    margin-right: 1rem;
  }
  .item-count-container button {
    width: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.45rem;
  }
  .item-count-container button:active {
    opacity: 70%;
  }

  .add-btn {
    margin: 0;
    width: 60%;
    margin-left: 1rem;
  }
  .add-btn:hover {
    opacity: 70%;
  }
}
@media (min-width: 1024px) {
  .product-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .add-to-cart-container {
    justify-content: space-between;
  }

  .item-count-container {
    height: 4.5rem;
  }
  .item-count-container button {
    width: 2rem;
  }

  .add-btn {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .company-name {
    font-size: calc(1rem + 0.1vw);
  }

  .product-description-name {
    font-size: calc(1rem + 2vw);
    padding-bottom: 2rem;
  }

  .product-description {
    font-size: calc(1rem + 0.25vw);
    line-height: calc(1.5rem + 0.25vw);
  }

  .product-price-container {
    font-size: calc(0.5rem + 0.75vw);
  }

  .current-price-container {
    font-size: calc(1rem + 0.75vw);
  }

  .add-to-cart-container {
    width: 75%;
  }

  .add-btn {
    font-size: calc(0.75rem + 0.25vw);
    width: 50%;
  }
}
@media (min-width: 1820px) {
  .item-count-container {
    width: 30%;
    margin-right: 2rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}

.overlay {
  display: none;
}

.overlay.active {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: black;
  opacity: 70%;
}

.selected {
  opacity: 40%;
  border: solid #ff7d1a;
  height: 95%;
  border-radius: 20%;
}

@media (min-width: 1024px) {
  .overlay.active {
    z-index: 10;
  }
}

/*# sourceMappingURL=style.css.map */
